*{
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}
body{
    min-height: 100%;
}
.header
{
    grid-area: header;
    background-color: gray;
    border-radius: 18px;
    margin-top: 1%;
    height: 50px;
}
.header li{
    list-style-type: none;
    display: inline-grid;
    margin-top: 1%;
    margin-right: 1%;
    background-color:rgb(206, 206, 206);
    width: 15%;
    border-radius: 18px;
}
.header li a
{
    color: black;
    font-size: 120%;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}
#subseccion1, #subseccion2, #subseccion3
{
    top: 100%;
    left: 0px;
    background-color: rgb(97, 140, 165);
    font: normal 0.8em arial;
    padding: 0.2em 0.5em;
    display: none;
    width: 90%;
    border-radius: 7px;
    z-index: 0;
    color: black;
}
#seccion1, #seccion2, #seccion3
{
    margin-left: 10%;
    margin-right: 1%;
}

#contenedor
{
    background-color: rgb(154, 153, 156);
    width:50% ;
    height: 50%; 
    position: absolute;
    left: 25%;
    margin-top: 5%;
    border-radius: 3%;
    text-align: center;
}

    
#cajadetexto{
    margin-top: 1%;
   
}

.navbar{
    grid-area: navbar;
    background-color: rgba(136, 132, 132, 0.74);
}
.sidebar{
    grid-area: sidebar;
    background-color: rgba(136, 132, 132, 0.74);
}
.main{
    grid-area: main;
    background-color: rgba(7, 7, 7, 0.493);
    text-align: center;
}
.footer{
    grid-area: footer;
    background-color: rgba(0, 0, 0, 0.712);
}
.grid-container > *{
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}
.grid-container{
    display: grid;
    gap: 10px;
    grid-template: 
    "header"  80px
    "navbar"  50px
    "main"    auto
    "sidebar" 50px
    "footer"  50px
}
@media (min-width: 900px){
    .grid-container {
        grid-template:
         "header header header"  88px
         "navbar main sidebar"   auto 
         "footer footer footer"  100px /
         200px   auto   200px;
    }
}
